body{
    background-color: rgba(192, 232, 168, 0.512);
    
}
h1{
    color: rgba(247, 152, 27, 0.888);
    background-color: rgba(124, 185, 226, 0.908);
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count:infinite ;
}
@keyframes example { 
from {box-shadow: 1px 1px 38px rgb(228, 105, 16);} 
to {box-shadow: 1px 1px 38px white;} }
p{
    padding-top: 10px;
    font-size: 40px;
}